# Object files
*.obj

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.pch

# Libraries
*.lib

# Shared objects (inc. Windows DLLs)
*.dll
*.so

# Executables
*.exe

# Debug files
*.idb
*.pdb
